<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewpoint" content="wideth=device-width,initial-scale=1.0">
        <title> Data </title>              
    

      <!-- FOOTER -->
    <footer class="container">
        <!-- <li class="float-end"><a href="\index">Back to Homepage</a></li> -->
        <p>&copy; August 2022 Designed by Project Team 2 : Amelia Horton &middot; Indranil Roy &middot; Jenna Jorstad &middot; Nina Padgett &middot; Ying Sun &middot;</p>
    </footer>
</html>