<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prediction</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Lung Cancer Mortality Prediction</h1>
            <p>Enter air quality specifications below!</p>
            <a><p> Click here to find out the definition of each input below. </p></a> 
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form method="POST" action="/send" role="form" , name="mpgform">
                    <div class="form-group">
                        <label for="inputName">PM2.5 (micrograms per cubic meter)</label>
                        <input type="text" class="form-control" id="inputPM2.5" name="PM2.5" placeholder="1 - 20">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Land_EQI ()</label>
                        <input type="text" class="form-control" id="inputPM2.5" name="PM2.5" placeholder="1 - ">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Sociod_EQI ()</label>
                        <input type="text" class="form-control" id="inputPM2.5" name="PM2.5" placeholder="1 - ">
                    </div>
                    <div class="form-group">
                        <label for="inputName">CLU50_1 ()</label>
                        <input type="text" class="form-control" id="inputPM2.5" name="PM2.5" placeholder="1 - ">
                    </div>
                    <div class="form-group">
                        <label for="inputLat">PM10 (micrograms per cubic meter)</label>
                        <input type="text" class="form-control" id="inputPM10" name="PM10"
                            placeholder="1 - 50">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">SO2 (ppbv ultraviolet fluorescence)</label>
                        <input type="text" class="form-control" id="inputSO2" name="SO2" placeholder="1 - 13,000">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">NO2 (parts per billion)</label>
                        <input type="text" class="form-control" id="inputNO2" name="NO2" placeholder="1 - 9,000">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">O3 (Dobson units)</label>
                        <input type="text" class="form-control" id="inputO3" name="O3" placeholder="1 - 85,000">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">CO (parts per million)</label>
                        <input type="text" class="form-control" id="inputCO" name="CO" placeholder="1 - 25,000">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">CN ()</label>
                        <input type="text" class="form-control" id="inputCN" name="CN" placeholder="0.0001 - 1.5">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">Diesel ()</label>
                        <input type="text" class="form-control" id="inputdiesel" name="diesel"
                            placeholder="1 - 10">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">CS2 ()</label>
                        <input type="text" class="form-control" id="inputCS2" name="CS2" placeholder="0.0000007 - 2.5">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Air_EQI ()</label>
                        <input type="text" class="form-control" id="inputAirEQI" name="Air_EQI" placeholder="1 - ">
                    </div>
                                        <div class="form-group">
                        <label for="inputName">Water_EQI ())</label>
                        <input type="text" class="form-control" id="inputwaterEQI" name="Water_EQI" placeholder="1 - ">
                    </div>
                    <input type="submit" value="submit" class="btn btn-default">
                </form>
                <br> 
                <p> <h2> {{result}} </h2></p>
            </div>
        </div>

    </div>

</body>

</html>