<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Form</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Fuel Milage Estimator</h1>
            <p>Enter your car's specifications below!</p>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form method="POST" action="/send" role="form" , name="mpgform">
                    <div class="form-group">
                        <label for="inputName">Cylinders</label>
                        <input type="text" class="form-control" id="inputCylinders" name="mpgCylinders" placeholder="4">
                    </div>
                    <div class="form-group">
                        <label for="inputLat">Displacement (cu. in.)</label>
                        <input type="text" class="form-control" id="inputDisplacement" name="mpgDisplacement"
                            placeholder="120">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">Horsepower (hp)</label>
                        <input type="text" class="form-control" id="inputHP" name="mpgHP" placeholder="86">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">Weight (lbs)</label>
                        <input type="text" class="form-control" id="inputWeight" name="mpgWeight" placeholder="2200">
                    </div>
                    <div class="form-group">
                        <label for="inputLon">Acceleration (mi/hr/s</label>
                        <input type="text" class="form-control" id="inputAcceleration" name="mpgAcceleration"
                            placeholder="14">
                    </div>
                    <input type="submit" value="submit" class="btn btn-default">
                </form>
                <p>{{result}}</p>
            </div>
        </div>

    </div>

</body>

</html>